{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4 text-center">{{ about.title }}</h1>
    <div class="row">
      <div class="col-md-4">
        {% if about.image %}
          <img src="{{ about.image.url }}" class="img-fluid rounded" alt="{{ about.title }}">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="content">
          {{ about.content|safe }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
