{% extends 'base.html' %}

{% block title %}Thank You{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <div class="card shadow-lg p-4">
          <div class="card-body">
            <h1 class="mb-4">Thank You</h1>
            <p class="lead">Thank you for your message. I will get back to you as soon as possible.</p>
            <a href="{% url 'portfolio:home' %}" class="btn btn-primary mt-4">Return to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
