{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container mt-5">

    <!-- Introduction Section -->
    <div class="row mb-4">
      <div class="col-md-12 text-center">
        <h2 class="animated fadeInUp">Hello, I'm ISSAKA HAMA Barhamou, a Full Stack Developer</h2>
        <p class="animated fadeInUp delay-1s">Welcome to my portfolio. Here you can find my skills, services, projects, and how to contact me.</p>
        <div class="social-icons mt-3">
          {% for link in social_links %}
            <a href="{{ link.url }}" target="_blank" class="btn btn-outline-primary mx-1 animated fadeInUp delay-2s"><i class="{{ link.icon_class }}"></i> {{ link.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Skills Section -->
    <div class="row mb-4">
      <div class="col-md-12">
        <h2 class="mb-4 text-center">My Skills</h2>
        <div class="row justify-content-center">
          {% for skill in skills %}
            <div class="col-md-4 mb-4">
              <div class="card h-100 text-center">
                {% if skill.image %}
                  <img src="{{ skill.image.url }}" class="card-img-top mx-auto mt-3" alt="{{ skill.name }}" style="width: 50px; height: 50px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ skill.name }}</h5>
                  <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" style="width: {{ skill.proficiency }}%;" aria-valuenow="{{ skill.proficiency }}" aria-valuemin="0" aria-valuemax="100">{{ skill.proficiency }}%</div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>


    <!-- Services Section -->
    <div class="row mb-4">
      <div class="col-md-12">
        <h2 class="mb-4 text-center">My Services</h2>
        <div class="row">
          {% for service in services %}
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                {% if service.image %}
                  <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.name }}" style="height: 200px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ service.name }}</h5>
                  <p class="card-text">{{ service.description|safe|truncatewords:30 }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Projects Section -->
    <div class="row mb-4">
      <div class="col-md-12 text-center">
        <h2 class="mb-4 text-center">My Projects</h2>
        <div class="btn-group" role="group" aria-label="Category filter">
          <a href="{% url 'portfolio:home' %}" class="btn btn-outline-primary">All</a>
          {% for category in categories %}
            <a href="{% url 'home' %}?category={{ category.id }}" class="btn btn-outline-primary">{{ category.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      {% for project in projects %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}" style="height: 200px; object-fit: cover;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">{{ project.description|safe|truncatewords:30 }}</p>
              <div class="mt-auto">
                <a href="{% url 'portfolio:project_detail' project.id %}" class="btn btn-primary btn-block">View Details</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if projects.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ projects.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        {% for num in projects.paginator.page_range %}
          {% if projects.number == num %}
            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
          {% elif num > projects.number|add:'-3' and num < projects.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
        {% if projects.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ projects.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
